@import '@theme/style';

.Login-right-side {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  padding-right: 30px;
  padding-bottom: 20px;
  background-color: $aqua-600;
  background-image: url('/src/assets/pokemon-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  & > img {
    max-width: 600px;
    @media (max-width: $breakpoint-md) {
      max-width: 300px;
    }
    @media (max-width: $breakpoint-sm) {
      max-width: 200px;
    }
  }
}
