@import '@theme/style';

.Badge {
  text-transform: capitalize;
}

.ant-badge-hoverable {
  cursor: none;
}

.ant-badge .ant-badge-count {
  background: rgba($color: $white, $alpha: 0.3) !important;
  box-shadow: none !important;
  font-family: $work-sans !important;
  margin-right: 4px !important;
}
