{
  "env": {
    "es6": true,
    "browser": true,
    "es2021": true
  },
  "extends": [
    "plugin:react/recommended",
    "airbnb",
    "plugin:import/typescript",
    "plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": ["react", "import", "@typescript-eslint", "react-hooks"],
  "rules": {
    "react/jsx-filename-extension": [
      2,
      { "extensions": [".js", ".jsx", ".ts", ".tsx"] }
    ],
    "import/order": [
      "error",
      {
        "alphabetize": { "order": "asc", "caseInsensitive": true },
        "newlines-between": "always",
        "warnOnUnassignedImports": true,
        "groups": ["builtin", "external", "internal", "parent", "sibling"],
        "pathGroupsExcludedImportTypes": ["react"],
        "pathGroups": [
          {
            "pattern": "react",
            "group": "builtin"
          },
          {
            "pattern": "@assets/**",
            "group": "internal"
          },
          {
            "pattern": "@components/**",
            "group": "internal"
          },
          {
            "pattern": "@constants/**",
            "group": "internal"
          },
          {
            "pattern": "@custom-types/**",
            "group": "internal"
          },
          {
            "pattern": "@enums/**",
            "group": "internal"
          },
          {
            "pattern": "@hooks/**",
            "group": "internal"
          },
          {
            "pattern": "@utils/**",
            "group": "internal"
          },
          {
            "pattern": "@pages/**",
            "group": "internal"
          },
          {
            "pattern": "@theme/**",
            "group": "internal"
          },
          {
            "pattern": "./*.css",
            "group": "sibling",
            "position": "after"
          }
        ]
      }
    ],
    "import/extensions": ["error", "ignorePackages", { "tsx": "never" }],
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }]
  },
  "settings": {
    "import/resolver": {
      "typescript": {}
    },
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    }
  }
}
