@import '@theme/style';

.Team-detail-name {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  width: 100%;
  &__input {
    margin-top: 20px;
    background-color: $gray-light-100;
    border-color: $gray-light-100;
    min-height: 40px;
    width: 60%;
    align-self: center;
    min-width: 50vw !important;
    font-family: $work-sans !important;
    @media (max-width: $breakpoint-md) {
      width: 100%;
    }
    &:hover {
      border-color: $gray-light-600;
    }
    &:focus {
      border-color: $gray-light-100;
    }
  }
}
