@import '@theme/style';

.Teams {
  padding: 120px 100px 0px 100px;
  @media (max-width: $breakpoint-md) {
    padding: 150px 32px 0px 32px;
  }
  @media (max-width: $breakpoint-md) {
    padding: 150px 12px 0px 12px;
  }
  &__title {
    display: flex;
    align-items: center;
  }
  &__text {
    margin-left: 10px;
  }
}
