$yellow-100: #ffe292;
$yellow-200: #ffdd80;
$yellow-300: #ffd96e;
$yellow-400: #ffd45c;
$yellow-500: #ffcf4a;
$yellow-600: #e6ba43;
$yellow-700: #cca63b;
$yellow-800: #b39134;
$yellow-900: #997c2c;

$aqua-100: #ace7dc;
$aqua-200: #9ee3d6;
$aqua-300: #91dfd0;
$aqua-400: #83dbca;
$aqua-500: #75d7c4;
$aqua-600: #69c2b0;
$aqua-700: #5eac9d;
$aqua-800: #529789;
$aqua-900: #468176;

$pink-100: #fda7a7;
$pink-200: #fc9898;
$pink-300: #fc8989;
$pink-400: #fb7b7b;
$pink-500: #fb6c6c;
$pink-600: #e26161;
$pink-700: #c95656;
$pink-800: #b04c4c;
$pink-900: #974141;

$sky-blue-100: #add8fe;
$sky-blue-200: #a0d2fe;
$sky-blue-300: #92cbfe;
$sky-blue-400: #85c5fe;
$sky-blue-500: #77befe;
$sky-blue-600: #6babe5;
$sky-blue-700: #5f98cb;
$sky-blue-800: #5385b2;
$sky-blue-900: #477298;

$brown-100: #cfa7a3;
$brown-200: #c79893;
$brown-300: #bf8984;
$brown-400: #b77b74;
$brown-500: #af6c65;
$brown-600: #9e615b;
$brown-700: #8c5651;
$brown-800: #7a4c47;
$brown-900: #69413d;

$violet-100: #c0a5ca;
$violet-200: #b696c1;
$violet-300: #ab87b9;
$violet-400: #a178b0;
$violet-500: #9669a7;
$violet-600: #875f96;
$violet-700: #785486;
$violet-800: #694a75;
$violet-900: #5a3f64;

$gray-dark-100: #aaaeb2;
$gray-dark-200: #9ca1a5;
$gray-dark-300: #8d9399;
$gray-dark-400: #7f868c;
$gray-dark-500: #71787f;
$gray-dark-600: #666c72;
$gray-dark-700: #5a6066;
$gray-dark-800: #4f5459;
$gray-dark-900: #44484c;

$gray-light-100: #ececed;
$gray-light-200: #e9e9ea;
$gray-light-300: #e5e6e7;
$gray-light-400: #e2e3e4;
$gray-light-500: #dfe0e1;
$gray-light-600: #c9cacb;
$gray-light-700: #b2b3b4;
$gray-light-800: #9c9d9e;
$gray-light-900: #868687;

$gray-pale-500: #fefefe;
$gray-pale-600: #e5e5e5;
$gray-pale-700: #cbcbcb;
$gray-pale-800: #b2b2b2;
$gray-pale-900: #989898;

$black: #121212;
$white: #fff;
