$work-sans: 'Work Sans', sans-serif;
$quick-sand: 'Quicksand', sans-serif;

$size-64: 64px;
$size-40: 40px;
$size-32: 32px;
$size-28: 28px;
$size-24: 24px;
$size-20: 20px;
$size-18: 18px;
$size-16: 16px;
$size-14: 14px;
$size-12: 12px;
