@import '@theme/style';

.Home-banner {
  background-image: url('/src/assets/home-banner.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  width: 100%;
  min-height: 500px;
  padding: 20px 200px;
  justify-content: space-between;
  align-items: center;
  @media (max-width: $breakpoint-md) {
    padding: 20px 50px;
    min-height: 400px;
  }
  @media (max-width: $breakpoint-sm) {
    padding: 20px 24px;
    min-height: 300px;
  }
  &__greeting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0.8;
  }
  &__title {
    margin-top: 20px;
    font-size: $size-64;
    font-weight: 700;
    color: $white;
    font-family: $quick-sand;
    @media (max-width: $breakpoint-md) {
      font-size: $size-32;
    }
    @media (max-width: $breakpoint-sm) {
      font-size: $size-24;
    }
  }
  & > img {
    object-fit: contain;
    width: 40%;
    height: 80%;
  }
}
