@import '@theme/style';

.Not-found {
  display: flex;
  align-items: center;
  &__title {
    font-size: 200px;
    font-weight: 700;
    color: $gray-pale-500;
    text-align: center;
    @media (max-width: $breakpoint-md) {
      font-size: 100px;
    }
    @media (max-width: $breakpoint-sm) {
      font-size: 70px;
    }
  }
  & > img {
    width: 200px;
    height: 200px;
    @media (max-width: $breakpoint-md) {
      width: 100px;
      height: 100px;
    }
    @media (max-width: $breakpoint-sm) {
      width: 70px;
      height: 70px;
    }
  }
}
