@import '@theme/style';

.Teams-by-region-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  @media (max-width: $breakpoint-sm) {
    flex-wrap: wrap;
  }
  &__button {
    font-weight: bold !important;
    @media (max-width: $breakpoint-sm) {
      width: 100%;
      margin-top: 10px;
    }
    &--new {
      background-color: $sky-blue-500 !important;
      margin-right: 10px;
    }
    &--friend {
      background-color: $aqua-500 !important;
    }
  }
}
