@import '@theme/style';

.Teams-list {
  margin-top: 20px;
  &__share {
    background-color: $violet-500 !important;
  }
  &__edit {
    background-color: $yellow-500 !important;
  }
  &__delete {
    background-color: $pink-500 !important;
  }
  &__actions {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 120px;
    @media (max-width: $breakpoint-sm) {
      flex-direction: column;
      width: auto;
      height: 120px;
    }
  }
  &__details {
    display: flex;
    flex-direction: column;
  }
  &__info {
    color: $gray-dark-500;
    font-size: $size-14;
    font-family: $work-sans;
    font-weight: 400;
    margin-bottom: 5px;
  }
  .ant-list {
    .ant-list-item-meta-title {
      font-size: $size-16 !important;
      font-family: $work-sans !important;
    }
  }
}
